$color-main-fade1:#F9804B;
$color-main-fade2:#FE9013;
$color-header:#000000;
$color-footer:#111115;
$color-main-text:#333B41;
$color-faded:#BDBDBD;
$color-main-buttons-text:#FFFFFF;
$color-on-hover:#E47209;
$color-clicked:#4B9200;
$color-disabled:#828282;


$color-yellow:#FFEE2E;

$content-width: 1160px;
$tablet-width: 1000px;
$mobile-big-width: 640px;
$mobile-small-width: 320px;

